:root {
  --red: #b34204;
  --brown: #c0aa83;
  --black: #242424;
  --white: #ffffff;
  --whitesmoke: whitesmoke;
  --light-grey: #d9d9d9;
  --dark-grey: #696969;
  --hover: color(--brown);
  --transition02: all 0.2s linear;
  --transition03: all 0.3s linear;
  --transition05: all 0.5s linear;
  --gutter-width: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Kanit";
}

.container {
  max-width: 1540px;
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.overflowx {
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

section {
  padding: 60px 0;
}

.btn {
  cursor: pointer;
  font-size: 18px;
  padding: 13px 40px;
  font-weight: 600;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding: 0 var(--gutter-width);
}

/* <!-- ----------HEADER STARTS HERE---------- --> */
header {
  position: absolute;
  width: 100%;
}
header {
  padding: 20px;
}
header .menu {
  display: block;
}
header .menu ul li {
  position: relative;
  padding: 15px 20px;
  gap: 20px;
}
header .menu ul li {
  cursor: pointer;
}
header .menu ul li a {
  color: var(--white);
  font-weight: 600;
  font-size: 24px;
  transition: var(--transition03);
}
header .menu ul li:hover a {
  color: var(--brown);
  transition: var(--transition03);
}

header .menu ul li .menu-item::after {
  content: "\f105";
  font-family: fontAwesome;
  color: var(--white);
  font-size: 13px;
  position: absolute;
  top: 28px;
  right: 0;
  transition: var(--transition03);
}
header .menu ul li:hover .menu-item::after {
  color: var(--brown);
  transform: rotate(90deg);
  /* transition: var(--transition03); */
}
.box {
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 3px;
  color: var(--white);
  background-color: var(--red);
}
header .menu ul li:nth-child(8) {
  margin-left: 50px;
  padding-right: 0;
}
header a .fa-solid {
  color: var(--white);
  padding: 10px 10px 10px 0;
  align-items: center;
  display: inline-block;
}
.h-icon {
  font-size: 22px;
  transition: var(--transition03);
}
header a .fa-solid:hover {
  color: var(--brown);
  transition: var(--transition03);
}
.bar i {
  font-size: 30px;
  color: white;
  display: none;
}
/* <!-- ----------HEADER ENDS HERE---------- --> */

/* <!-- ----------MAIN BANNER STARTS HERE---------- --> */

.main-banner {
  height: 100vh;
  background-image: url("../images/coffee-parallax-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btn2 {
  perspective: 250px;
  display: inline-block;
}

.main-btn2 {
  cursor: pointer;
  color: white;
  background-color: var(--brown);
  font-size: 20px;
  padding: 20px 60px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: none;
}

.main-btn2::after {
  content: "View more";
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.main-btn2:hover::after {
  top: 0;
  z-index: 1;
}

.main-btn2:hover {
  transform: rotateX(360deg);
}

.main-banner .main-btn:hover {
  transform: rotateY(180deg);
}

.main-banner .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-bottom: -4px;
}

/* <!-- ----------MAIN BANNER ENDS HERE---------- --> */

/* <!-- ----------ABOUT START HERE---------- --> */
.about-bg {
  background-image: url(../images/about-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.about .content {
}

.about .content .title {
  font-size: 30px;
  color: var(--brown);
  font-weight: 600;
}

.about .content .sub-title {
  font-size: 60px;
  margin-top: 0;
  color: var(--black);
}

.about .content .desc {
  font-size: 24px;
  line-height: 45px;
  padding-bottom: 0;
  color: var(--black);
}

.about .content img {
  padding: 40px 0;
}

.about .sub-title {
  padding: 15px 0 10px;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.about .desc {
  color: var(--black);
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 70px;
}

/* <!-- ----------ABOUT ENDS HERE---------- --> */

/* <!-- ----------PRODUCTS STARTS HERE---------- --> */
.p-heading {
  padding: 35px 0 55px 0;
}
.p-heading span {
  color: var(--whitesmoke);
  position: relative;
  font-size: 60px;
  line-height: 40px;
  z-index: 20;
}

.p-heading strong {
  font-size: 24px;
  line-height: 20px;
  color: var(--brown);
}

.p-heading span::before {
  content: "PRODUCTS";
  font-size: 150px;
  line-height: 140px;
  font-weight: 800;
  color: rgb(66, 66, 66);
  position: absolute;
  top: 7px;
  left: -260px;
  z-index: -2;
  display: block;
}

.products {
  /* font-size: 20px; */
  background-color: var(--black);
}

/* products-menu */
.products .menu li {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  line-height: 16px;
  padding: 30px 20px;
}

.products .menu li a {
  color: var(--white);
  transition: var(--transition03);
}

.products .menu li:hover a {
  color: var(--brown);
  border-bottom: 2px solid var(--brown);
}

/* products-card */
.products .p-card {
  background-color: var(--white);
  padding: 20px 40px;
}
.products .p-card img {
  margin: auto;
}
.products .title {
  transition: var(--transition05);
  font-size: 25px;
}

.products .p-card:hover .title {
  color: var(--brown);
}

.products .desc {
  font-size: 19px;
  padding: 10px 25px;
}

.products .p-card button i {
  font-size: 15px;
  margin-right: 5px;
}

.products .p-card button {
  background-color: var(--brown);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 7px 22px;
  transition: var(--transition02);
  margin-bottom: 20px;
}

.products .p-card button:hover {
  background-color: var(--black);
  color: var(--white);
}

.products .price del {
  color: var(--black);
  text-decoration: line-through;
  text-decoration-color: var(--red);
}

.products .price {
  font-size: 24px;
  font-weight: 600;
  color: var(--brown);
  padding: 15px 0 30px 0;
}

.pro-btn {
  padding-top: 40px;
  padding-bottom: 20px;
}

.pro-btn a {
  background-color: var(--black);
  border: 2px solid var(--brown);
  color: var(--brown);
  transition: var(--transition02);
}

.pro-btn a:hover {
  background-color: var(--white);
  border: 2px solid transparent;
  color: var(--black);
}

/* <!-- ----------PRODUCTS ENDS HERE---------- --> */

/* <!-- ----------SALE STARTS HERE---------- --> */
.sale .title {
  color: var(--black);
  font-size: 60px;
  padding-top: 6px;
  line-height: 1.1;
}

.sale .desc {
  font-size: 21px;
  padding: 15px 0;
}

.sale .sub-title {
  color: var(--brown);
  font-size: 30px;
}

/* country using div tag */
.sale ul {
  column-count: 3;
}

.sale ul li {
  flex-basis: 33.33%;
  padding: 12px 0 5px 0;
  /* column-count: 3; */
  font-size: 21px;
}

.sale .country {
  color: var(--black);
  transition: var(--transition03);
}

.sale .country::before {
  content: "\f105";
  font-family: fontAwesome;
  transform: rotate("360deg");
  margin-right: 7px;
}

.sale .country:hover {
  color: var(--brown);
}

.sale-btn {
  padding-top: 20px;
}

.sale-btn a {
  border: 2px solid transparent;
  color: var(--white);
  background-color: var(--brown);
  transition: var(--transition03);
}

.sale-btn a:hover {
  border: 2px solid var(--black);
  color: var(--black);
  background-color: var(--white);
}
.sale-map img {
  margin: auto;
}

/* <!-- ----------SALE ENDS HERE---------- --> */

/* <!-- ----------GALLERY STARTS HERE---------- --> */
.left-data {
  background-image: url(../images/coffee-cup-1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.gallery .left-data h2 {
  padding-top: 20px;
  line-height: 50px;
  font-size: 30px;
  color: var(--black);
}

.gallery .left-data h3 {
  line-height: 100px;
  font-size: 120px;
  color: var(--brown);
  padding-bottom: 30px;
}

.gallery .left-data h4 {
  line-height: 50px;
  font-size: 60px;
}

.gallery .right-data h3 {
  font-size: 60px;
  line-height: 100px;
}

.gallery .right-data p {
  font-size: 21px;
  line-height: 35px;
  padding-bottom: 45px;
}

.gallery a {
  transition: var(--transition02);
  color: var(--white);
  border: 2px solid transparent;
}

.gallery .dealer-btn {
  margin: 0 20px 0 0;
  background-color: var(--black);
}

.gallery .dealer-btn:hover {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
}

.gallery .contact-btn {
  background-color: var(--brown);
}

.gallery .contact-btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}

/* <!-- ----------GALLERY ENDS HERE---------- --> */

/* <!-- ----------TESTIMONIAL STARTS HERE---------- --> */
.testimonial {
  background-image: url(../images/coffee_parallax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.t-heading h5 {
  color: var(--brown);
  font-size: 24px;
}

.t-heading h2 {
  color: var(--white);
  line-height: 55px;
  font-size: 60px;
  padding-bottom: 52px;
}

.left-box,
.right-box {
  padding: 0 55px 0 55px;
}

.left-box a,
.right-box a {
  background-color: var(--brown);
  color: #242424;
  padding: 16px 25px;
  transition: var(--transition03);
}

.testi-body a:hover {
  background-color: var(--white);
}

.testi-body {
  align-items: center;
}

.testi-center {
  border: 8px solid var(--brown);
  padding: 0 90px;
  color: var(--white);
}

.testi-center .title {
  font-size: 25px;
  padding: 50px 0 0 0;
}

.testi-center .sub-title {
  font-size: 20px;
  padding: 0 0 40px 0;
}

.testi-center .desc {
  /* padding: 0 60px; */
  font-size: 24px;
}

.testi-center i {
  font-size: 70px;
  padding: 50px 0;
}

/* <!-- ----------TESTIMONIAL ENDS HERE---------- --> */

/* <!-- ----------OUR-STORES STARTS HERE---------- --> */
.store-image img {
  margin: 0 auto;
}

/* <!-- ----------OUR-STORES ENDS HERE---------- --> */

/* <!-- ----------DISCOUNT STARTS HERE---------- --> */
.discount-bg {
  background-image: url(../images/discount-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.discount .content {
  background-color: var(--whitesmoke);
  padding: 116px 115px;
}

.discount .content h5 {
  font-size: 24px;
  color: var(--brown);
}

.discount .content h3 {
  font-size: 60px;
  color: var(--black);
  padding-bottom: 48px;
}

.discount .content p {
  font-size: 20px;
  color: var(--black);
  padding: 50px 0;
}

.discount-btn {
  color: var(--white);
  background-color: var(--brown);
  border: 2px solid transparent;
  transition: var(--transition03);
}

.discount-btn:hover {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--black);
}
.discount-image img {
  margin: auto;
}
/* <!-- ----------DISCOUNT ENDS HERE---------- --> */

/* <!-- ----------BLOG STARTS HERE---------- --> */
.blog {
  padding-bottom: 170px;
}

.heading {
  padding-bottom: 70px;
}

.heading span {
  position: relative;
  line-height: 45px;
  font-size: 60px;
}

.heading p {
  color: var(--brown);
  font-size: 35px;
}

.heading span::after {
  content: "Blog";
  font-size: 200px;
  line-height: 140px;
  font-weight: 800;
  color: var(--light-grey);
  position: absolute;
  top: -40px;
  left: -25px;
  z-index: -3;
}

.blog-img {
  overflow: hidden;
}

.blog-img img {
  transition: var(--transition03);
}

.blog-img img:hover {
  transform: scale(1.1);
}

.blog .title a {
  font-size: 36px;
  color: var(--brown);
  transition: var(--transition03);
}

.blog a:hover {
  color: var(--black);
}

.blog .desc {
  font-size: 23px;
  color: var(--black);
  padding-bottom: 35px;
}

.blog-info {
  padding: 10px 30px;
  background-color: var(--whitesmoke);
}

.blog .blog-btn a {
  background-color: var(--white);
  color: var(--brown);
  border: 2px solid var(--brown);
  transition: var(--transition03);
}

.blog .blog-btn a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid transparent;
}

.blog-content {
  padding: 40px 0;
}

.blog .blog-info .day {
  cursor: pointer;
  font-size: 50px;
  color: var(--brown);
  transition: var(--transition03);
  padding-right: 10px;
  margin: 0;
}

.blog .blog-info:hover .day {
  color: var(--black);
}

.blog .blof-info span {
  font-size: 20px;
}

.blog-info ul {
  column-count: 2;
}

.blog-info ul li i {
  padding-right: 8px;
}

.blog-info ul li {
  font-size: 16px;
  padding: 22px 11px;
}

/* <!-- ----------BLOG ENDS HERE---------- --> */

/* <!-- ----------CONTACTS FOOTER STARTS HERE---------- --> */
footer {
  background-color: var(--black);
  padding: 60px 0 0 0;
  position: relative;
  font-size: 20px;
}

.bg-map {
  background-image: url(../images/footer_map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pad {
  padding: 70px 0 40px 0;
}

/* sub-bar */
.sub-bar {
  background-color: var(--brown);
  padding: 50px 100px;
  position: absolute;
  top: -150px;
  width: 100%;
  margin-bottom: 1px;
}

.subscribe p {
  font-size: 36px;
  line-height: 36px;
  color: var(--whitesmoke);
  font-weight: 600;
}

.subscribe p span {
  color: var(--black);
}

.email {
  float: left;
  padding: 7px 0 0 0;
}

.email input {
  padding: 15px 20px;
  font-size: 18px;
  color: var(--dark-grey);
  font-weight: 400;
}

.email a {
  cursor: pointer;
  font-size: 20px;
  padding: 13px 40px;
  font-weight: 600;
  color: var(--white);
  border: 2px solid transparent;
  background-color: var(--black);
  transition: var(--transition02);
  margin-left: -4px;
}

.email a:hover {
  border: 2px solid var(--black);
  color: var(--black);
  background-color: var(--brown);
}

.icon {
  padding: 20px 0;
}

.icon a {
  background-color: #d3c4a8;
  color: var(--black);
  font-size: 20px;
  padding: 15px 20px;
  margin: 0 1px;
  overflow: hidden;
}

.icon a i {
  transition: var(--transition03);
}

.icon a:hover i {
  transform: scale(1.5);
}

/* content */
footer .info {
  word-break: break-all;
}

.info-btn {
  padding-bottom: 20px;
}

.contact-logo {
  padding: 30px 0;
}

footer .info .desc {
  font-size: 20px;
  line-height: 1.7;
  color: var(--dark-grey);
  padding: 0 100px 30px 0;
}

.info-btn a {
  color: var(--black);
  background-color: var(--brown);
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  transition: var(--transition02);
}

.info-btn a:hover {
  border: 2px solid transparent;
  background-color: var(--whitesmoke);
}

footer .title {
  font-size: 35px;
  color: var(--brown);
  padding: 30px 0;
}

footer .explore ul {
  column-count: 2;
  padding: 5px 0 0 0;
}

footer .explore ul li {
  padding: 8px 10px;
  font-weight: 500;
}

footer .explore ul li a {
  color: var(--white);
  transition: var(--transition03);
}

footer .explore ul li:hover a {
  color: var(--brown);
}

footer .explore ul li a::before {
  content: "\f105";
  font-family: fontAwesome;
  color: var(--brown);
  padding-right: 7px;
}

footer .location ul {
  padding: 5px 0 0 0;
}

footer .location ul li {
  padding: 8px 10px;
  font-weight: 500;
}

footer .location ul li i {
  color: var(--brown);
  padding-right: 10px;
}

footer .location ul li:nth-child(1) a,
footer .location ul li:nth-child(2) a {
  color: var(--dark-grey);
  font-weight: 500;
}

footer .location ul li:nth-child(3) a,
footer .location ul li:nth-child(4) a {
  color: var(--white);
  transition: var(--transition03);
}

footer .location ul li:nth-child(3):hover a,
footer .location ul li:nth-child(4):hover a {
  color: var(--brown);
}

/* COPYRIGHT */
.copyright {
  /* position: relative; */
  background-color: #1f1f1f;
  padding: 40px 0 40px 0;
}

.copyright .content {
  color: var(--white);
  transition: var(--transition03);
}

.copyright .content:hover {
  color: var(--brown);
}

.copyright .content span {
  color: var(--brown);
}

/* <!-- ----------CONTACTS FOOTER ENDS HERE---------- --> */
.topscroll {
  position: fixed;
  right: 50px;
  bottom: 20px;
  float: right;
  transition: var(--transition03);
  color: var(--black);
  background-color: var(--brown);
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
}

.topscroll:hover {
  color: var(--black);
  background-color: var(--white);
}
